*.iml
.idea/
.ipr
.iws
*~
~*
www/
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
*.sublime-project
*.sublime-workspace
node_modules/
spm_modules/
dist/
tmp/
.spm-build
.buildpath
.settings
.yml
.jshintignore
.jshintrc
.travis.yml
.cache/
_site/
tests/
docs/
_theme/
coverage
lib/app
_dist
_package
